extends /layouts/application.pug

block content
 .container.mt-5
   .row.justify-content-center: .col-8
     h2 Безнең хакта
     p
       strong "Безнең тәҗрибә"
       | — коммерциясе булмаган чит телле видеоларны татарчага тәрҗемә итеп тавышлау (озвучка), субтитрлар ясау проекты.
     p Проектның төп юнәлеше-татарча фильмнар, мультфильмнар базасы булдыру, татар яшьләре арасында татар телен популярлаштыру. Бар ителү вакыты: 26нчы сентябрь 2015 ел.
