extends /layouts/application.pug

block content
    .container.row.mt-5
        .col-md-12
          h1=status + ' ' + message
          p.lead Ни булгандыр 🤔 уземдә аңламый калдым... 🙈
          a.btn.btn-outline-primary.btn-md(href='/') Киттек кайтып өйгә...
