NODE_ENV={{ node_env }}

BTS_TATAR_PORT={{ bts_tatar_port }}
BTS_TATAR_ENV_FILE={{ bts_tatar_env_file }}
BTS_TATAR_RUN_USER={{ bts_tatar_run_user }}
BTS_TATAR_DOCKER_NETWORK={{ bts_tatar_docker_network }}
BTS_TATAR_DOCKER_IMAGE={{ bts_tatar_docker_image }}

POSTGRES_DB={{ postgres_name }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
DATABASE_URL={{ database_url }}

SENTRY_TOKEN={{ sentry_token }}

S3_ENDPOINT={{ s3_endpoint }}
S3_ACCESS_KEY={{ s3_access_key }}
S3_SECRET_ACCESS_KEY={{ s3_secret_access_key }}
S3_BUCKET={{ s3_bucket }}
S3_BUCKET_URL={{ s3_bucket_url }}
S3_REGION={{ s3_region }}

USER_PASSWORD={{ user_password }}
